/*
FUNÇÕES PADRÕES START
*********************************************************************/
.clear,
.first {
  clear: both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
::selection {
  background-color: #e01c42;
  color: #FFF;
}
::-moz-selection {
  background-color: #e01c42;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a {
  transition: all 0.25s ease 0s;
}
img {
  max-width: 100%;
  height: auto;
}
/*
FONTS START
**********************************************************************************************/
.box-atuacao .box-content,
.site-tablet .img.destaque {
  font-family: 'robotobold', Arial, sans-serif;
}
.btn-circle-lg-white {
  font-family: 'robotobold_italic', Arial, sans-serif;
}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
body {
  overflow: hidden;
}
.page {
  position: relative;
}
.page,
.page a {
  color: #FFF;
}
.page-mentira {
  background-color: #e01c42;
  z-index: 2;
}
.page-verdade {
  background-color: #3d86c6;
  z-index: 1;
}
.page-verdade .container {
  padding-top: 100px;
}
.navegacao {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}
.navegacao .arrow-down {
  position: absolute;
  bottom: -94px;
  left: 50%;
  margin-left: -69px;
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn {
  white-space: normal;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn-circle-lg-white {
  width: 122px;
  height: 122px;
  text-align: center;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  display: inline-block;
  background: #FFF;
  color: #e01c42 !important;
  font-size: 14px;
  text-transform: uppercase;
}
.btn-circle-lg-white .text {
  display: inline-block;
  max-width: 66%;
  line-height: 1.1;
}
.btn-circle-lg-white .text,
.btn-circle-lg-white .space {
  vertical-align: middle;
}
.btn-circle-lg-white:hover .text {
  text-decoration: underline;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.inline-block {
  display: inline-block;
}
[class^='icon-'],
[class*='icon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/icon.png);
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/
/**********************************************************************************************
JQUERY UI END
*/
@media (max-width: 767px) {
  /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
  /*#GERAL:before {content:"MOBILE";}*/
  .img-lg {
    max-width: 80%;
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  /*#GERAL:before {content:"ACIMA DE TABLET";}*/
}
